*{
font-family:container;
margin:0px;
}

.info{
font-size:20px;
}

.login1{
font-size:20px;
}

input{
width:60x%;
padding:7px;
}

.login1{
background-color:gray;

}

.Box{
border-style:solid;
border-width:5px;
boder-color:black;
width:300px;
height:200px;
display:inline-block;
PADDING:10PX;
margin-left:65%;
margin-top:80px;
margin-bottom:80px;
}

.Box2{
border-style:solid;
border-width:5px;
border-color:black;
width:400px;
height:300px;
display:inline-block;
PADDING:10PX;
margin-top:80px;
margin-left:32%;
margin-BOTTOM:40PX;
background-color:skyblue;
}


.login{
color:white;
background-image:url(https://media.istockphoto.com/id/1359861587/vector/blue-modern-abstract-wide-banner-with-geometric-shapes-dark-blue-abstract-background.jpg?s=612x612&w=0&k=20&c=xDMI5_-xyh_IHm2ca07x5xFTR7kRoFZJhxrq10FQra0=)
}

.info{
color:black;
background-image:url(https://images.shiksha.com/mediadata/images/1588684040php8XaW5w.jpeg);
background-repeat:no-repeat;
BACKGROUND-POSITION:CENTER;

}

.teams{
border-style:solid;
border-color:gray;
border-width:2px;
padding:10px;
margin:30px;
}

.menu{
background-color:black;
color:white;
display:flex;
flex-wrap: wrap;
}

h2{
margin: 10px;
padding: 10px;
cursor: pointer;
}

.admission{
background-color:lightgray;
}

.submit{
width:60px;
height:35px;}